body{
    background-image: url("https://image.winudf.com/v2/image1/Y29tLndhbGxwYXBlcnN3b3JsZC53b29kX3NjcmVlbl8wXzE1NTYyMDE3NzdfMDQ1/screen-0.jpg?fakeurl=1&type=.jpg");
    color: white;
    background-size: cover;
}
.container{
    width: 960px;
    margin: 0 auto ;
}
.container header .tophead img{
    width: 150px;
    vertical-align:middle;
}
.container header .tophead span{
    font-size: 30px;
}
.round{
    border-radius: 50%;
    padding: 14px;
    background-color: yellow;
    color: black;
    opacity:0.7;
    vertical-align: middle;
}
.container header .bottomHead{
    border-top: 2px solid grey ;
    border-bottom: 2px solid grey ;
    margin-top: 15px;
}
.container main .mailbox {
    border-bottom: 2px solid gray;
}
.container main .mailbox ul {
    padding: 0px;
}
.container main .mailbox ul li{
    font-size: 24px;
    list-style: none;
    border-bottom: 1px solid black;
    color: black;
    background-color: white;
}
.container main .mailbox ul li:nth-child(even){
    background-color: rgb(224, 209, 209);
}
.container main .mailbox ul li p{
    display: inline-block;
}
.container main .mailbox ul li p span{
    color: rgb(165, 154, 154);
}
footer{
    text-align: center;
}
footer h3 span{
    font-style: italic;
}